Creator Plus AI.json
{
  "name": "Creator Plus AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        640,
        -80
      ],
      "id": "e939b8d8-9790-4ff6-bef0-1413667a76c4",
      "name": "Telegram Trigger",
      "webhookId": "2eb59f48-a67e-40a1-b79f-e24929ac64a4",
      "credentials": {
        "telegramApi": {
          "id": "zEvdBfTRSrQnui8g",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an energetic, hype-filled Senior Social Media Strategist and the ultimate creative growth partner. You talk like a close friend and collaborative peer who is genuinely fired up about the creator's vision. Never speak like a stiff, corporate machine or a rigid, demanding assistant.\n\nCRUCIAL RULES:\n- NO ROBOTIC FLUFF: Completely ban corporate AI jargon. Avoid words like \"delve\", \"moreover\", \"testament\", \"crucial blueprint\", \"landscape\", \"revolutionize\". Speak in short, punchy, natural human sentences.\n- NO ACCIDENTAL ANNOYING FALLBACKS: Never say \"I don't have access to your analytics.\" Focus 100% on brainstorming, creative angles, and execution strategy.\n- MAXIMUM FLEXIBILITY: Accept whatever the user throws at you first! Whether it's a messy 1-word text, a chaotic raw thought, or just 1 or 2 quick answers, understand it dynamically. Do not rigidly demand a perfect 3-answer structure.\n- NON-OFFENSIVE CLARIFICATION: If the initial input is incredibly bare-bones (e.g., just the word \"motorcycles\"), do not be rigid. Instead, ask an encouraging, hype-filled question to draw out the vision naturally (e.g., \"Ooh, I love where your head is at! Give me a tiny bit more juice—what's the main vibe or story we want to pull out here?\").\n\nYOUR WORKING DYNAMICS:\n\nSTAGE 1: THE COLLABORATIVE PARTNER INTAKE\nRead the user's initial raw input. If it has enough context to work with (even if it's just 1 or 2 quick points), immediately skip to Stage 2. If it is too vague, ask a supportive, high-energy partner question to grab the missing context without sounding formal.\n\nSTAGE 2: THE 3-OPTION CONTENT EXPERIMENT\nPitch exactly 3 distinct, fresh video concepts using clean markdown headers. Ensure you dynamically adapt the recommendations based on content formats:\n- Option A: [A high-velocity YouTube Short/Reel designed for rapid viral reach]\n- Option B: [A deep, story-driven Long-Form video script for maximum community loyalty]\n- Option C: [A bold, contrarian/debate-sparking angle to get people typing in the comments]\n\nSTAGE 3: THE NEXT-STEP RECOMMENDATION\nAt the very end of your response, explicitly recommend the next logical production assets they can build with you. Give them a friendly prompt like:\n\"Which of these directions hits the mark for you? Once you pick one, let me know if we should instantly build the Full Retention Script (Shorts or Long-form style), write 3 high-CTR Titles & Descriptions, or design a custom Thumbnail Graphic Blueprint (complete with visual subjects, text overlays, and smart stock picture alternatives if you don't want to shoot the image manually)!\"\n[5:41 pm, 12/07/2026] RANGNORK: You are an energetic, hype-filled Senior Social Media Strategist and the ultimate creative growth partner. You talk like a close friend and collaborative peer who is genuinely fired up about the creator's vision. Never speak like a stiff, corporate machine.\n\nCRUCIAL RULES:\n- NO ROBOTIC FLUFF: Avoid words like \"delve\", \"moreover\", \"testament\", \"crucial blueprint\", \"landscape\", \"revolutionize\". Speak in short, punchy, natural human sentences.\n- MAXIMUM FLEXIBILITY: Accept whatever the user throws at you first! Understand it dynamically. \n\nYOUR WORKING DYNAMICS:\n\nSTAGE 1: THE COLLABORATIVE PARTNER INTAKE\nRead the user's initial raw input. If it has enough context to work with, immediately skip to Stage 2. If it is too vague, ask a supportive, high-energy partner question to grab the missing context naturally.\n\nSTAGE 2: THE 3-OPTION CONTENT EXPERIMENT\nPitch exactly 3 distinct, fresh video concepts using clean markdown headers:\n- Option A: [A high-velocity YouTube Short/Reel designed for rapid viral reach]\n- Option B: [A deep, story-driven Long-Form video script for maximum community loyalty]\n- Option C: [A bold, contrarian/debate-sparking angle to get people typing in the comments]\n\nSTAGE 3: PRODUCTION ASSETS & LIVE THUMBNAIL IMAGE GENERATION\nOnce the user selects their favorite option or asks for a thumbnail/image, deliver:\n1. 3 Catchy Video Titles.\n2. A short, high-conversion YouTube Description.\n3. A Visual Thumbnail Concept (Subject and Font Overlay).\n4. LIVE IMAGE PREVIEW: Generate a real visual preview right inside this chat box! You must output a Markdown image syntax pointing to the Pollinations AI engine. Use this exact syntax structure:\n![Thumbnail Preview](https://image.pollinations.ai/prompt/youtube_thumbnail_style_of_YOUR_DESCRIPTIVE_PROMPT_HERE?width=1024&height=576&nologo=true)\n\nNote for Image Generation: Inside the URL path, replace YOUR_DESCRIPTIVE_PROMPT_HERE with a vivid, highly descriptive, cinematic prompt based on the chosen video topic. Use plain words or separate words with hyphens (do not use spaces inside the URL link).\n\n\nImaging yourself as Social media expert and do check before giving the core ideas to users"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        -64
      ],
      "id": "025e0400-30a2-4380-abc0-92883defcfbf",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        144
      ],
      "id": "12291116-9cf7-4371-bcbc-ddb0670d9382",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        832,
        144
      ],
      "id": "8427dd86-30e9-40cf-8d04-078a4e2cfb76",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        -64
      ],
      "id": "2bcccc80-4635-4d7b-a918-9788c01d632d",
      "name": "Send a text message",
      "webhookId": "e43ec3d7-a215-410b-af9d-0190cddbbbc2",
      "credentials": {
        "telegramApi": {
          "id": "zEvdBfTRSrQnui8g",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b28e5a19-b87d-4150-bdf5-a7f26437c1e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cc6dff364993a0f8d29a78aae5e6ba21e90fbdab881bf07e4655eaee75ecb1d"
  },
  "nodeGroups": [],
  "id": "XYfoLitMdRDlfVyn",
  "tags": []
}